<div class="tableview-component-container">
    <div class="input-section">
        <span>How many primes would you like to generate?</span>
        <input class="UT-prime-count-input E2E-prime-count-input" ng-model="$ctrl.enteredPrimeCount" />
    </div>

    <div class="UT-validation-message validation-message" ng-if="$ctrl.displayValidationMessage">
        Please enter a valid number
    </div>

    <div class="button-section">
        <button class="UT-populate-table E2E-populate-table" ng-click="$ctrl.populateTable()">Make it happen!</button>
    </div>

    <div class="debug-info" ng-show="$ctrl.primes">
        <div class="time-taken">
            Time taken to generate: {{$ctrl.timeTaken}}ms
        </div>

        <div class="last-prime">
            Last Prime: {{$ctrl.lastPrime}}
        </div>
    </div>

    <paging enable-paging="$ctrl.enablePaging" pages="$ctrl.pages"
            selected-vertical-page="$ctrl.selectedVerticalPage"
            selected-horizontal-page="$ctrl.selectedHorizontalPage"></paging>

    <table class="prime-table">
        <tr>
            <th class="E2E-prime-header"></th>
            <th class="E2E-prime-header"
                ng-repeat="prime in $ctrl.primes | pagestart: $ctrl.getHorizontalPageStart() | limitTo: $ctrl.getPageSize()">{{::prime}}</th>
        </tr>

        <tr class="E2E-prime-row" ng-repeat="row in $ctrl.primes | pagestart: $ctrl.getVerticalPageStart() | limitTo: $ctrl.getPageSize()">
            <td class="prime-number-column E2E-prime-cell">{{::row}}</td>
            <td class="E2E-prime-cell"
                ng-repeat="column in $ctrl.primes | pagestart: $ctrl.getHorizontalPageStart() | limitTo: $ctrl.getPageSize()">{{row | multiplication : column}}</td>
        </tr>
    </table>

</div>