<div class="tableview-component-container">
    <div class="input-section">
        <span>How many primes would you like to generate?</span>
        <input class="UT-prime-count-input E2E-prime-count-input" ng-model="$ctrl.enteredPrimeCount" />
    </div>

    <div class="button-section">
        <button class="UT-populate-table E2E-populate-table" ng-click="$ctrl.populateTable()">Make it happen!</button>
    </div>

    <div class="debug-info" ng-show="$ctrl.primes">
        <div class="time-taken">
            Time taken to generate: {{$ctrl.timeTaken}}ms
        </div>

        <div class="last-prime">
            Last Prime: {{$ctrl.lastPrime}}
        </div>
    </div>

    <table class="prime-table">
        <tr>
            <th class="E2E-prime-header"></th>
            <th class="E2E-prime-header" ng-repeat="prime in $ctrl.primes">{{::prime}}</th>
        </tr>

        <tr class="E2E-prime-row" ng-repeat="row in $ctrl.primes">
            <td class="prime-number-column E2E-prime-cell">{{::row}}</td>
            <td class="E2E-prime-cell" ng-repeat="column in $ctrl.primes">{{row | multiplication : column}}</td>
        </tr>
    </table>

</div>