<div class="tableview-component-container">
    <input class="UT-prime-count-input" ng-model="$ctrl.enteredPrimeCount" />
    <button class="UT-populate-table" ng-click="$ctrl.populateTable()"></button>

    <table>
        <tr>
            <th class="UT-prime-header"></th>
            <th class="UT-prime-header" ng-repeat="prime in $ctrl.primes">{{::prime}}</th>
        </tr>

        <tr class="UT-prime-row" ng-repeat="prime in $ctrl.primes">
            <td>{{::prime}}</td>
        </tr>
    </table>

</div>