/* app css stylesheet */

h1 {
  text-align: center;
}

.scored-out {
  text-decoration: line-through;
}

.tableview-component-container {
  text-align: center;
}

.prime-table .prime-number-column {
  font-weight: bold;
}

.prime-table {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.prime-table td {
  padding: 10px;
}

.debug-info {
    width: 75%;
    margin-left: auto;
    margin-right: auto;

    display: flex;
}

.debug-info .time-taken {
    flex-grow: 1;
    text-align: left;
}